header{
  background-color: rgb(105, 101, 101);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span{
  color: lightskyblue;
  padding:  5px 0;
}

header h2{
  margin-left: 10px;
  cursor: pointer;
}
header > a {
  text-decoration: none;
  color: inherit;
}